<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-title> {{'ModuleMarketingPage.title' | translate }} </ion-title>
      <div class="sub-title toolbar-title-md toolbar-title">{{client}} - Youtube </div>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content class="has-header">

  <div class="page-message"> {{'ModuleMarketingPage.message' | translate }}</div>

  <!--
            <ion-card>

                <img src="http://www.brjavocats.com/i/image-nouvelles-technologies.jpg">

                <ion-item>
                    <ion-icon name="football" item-left large></ion-icon>
                    <h2>Museum of Football</h2>
                    <p>11 N. Way St, Madison, WI 53703</p>
                </ion-item>

                <ion-item>
                    <span item-left>18 min</span>
                    <span item-left>(2.6 mi)</span>
                    <button ion-button icon-left clear item-right>
                <ion-icon name="google"></ion-icon>
                Start
                </button>
                </ion-item>

            </ion-card>-->


  <!--     <ion-card *ngFor=" let mark of Marckic">

            <img src='{{mark.url}}' />
            <div class="card-title">{{mark.message}}</div>
            <div class="card-subtitle">{{mark.id}}</div>
            <button ion-button icon-left clear item-right>
                <ion-icon name="logo-googleplus"></ion-icon>
            like
                </button>
            <button ion-button icon-left clear item-right>
                <ion-icon name="logo-facebook"></ion-icon>
            like
            </button>
            <button ion-button icon-left clear item-left>
                <ion-icon name="logo-twitter"></ion-icon>
            Aimez-nous
            </button>
        </ion-card>-->

  <ion-card class="costomCard" *ngFor="let data of datas">
    <iframe allowfullscreen frameborder="0" height="200" width="100%" [src]="data.snippet.resourceId.videoId | safe:'resourceUrl'">
    </iframe>
    <ion-card-content class="costomContent">
      <ion-card-title class="title">
        {{data.snippet.title}}
      </ion-card-title>
      <p class="description">
        {{data.snippet.description}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="infiniteScrool($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
