    page-listagence {
        .swipe-disabled div.item-content {
            -webket-transition: none !important;
            -webket-transform: none !important;
            transform: none !important;
        }
        .hidecell {
            display: none !important;
        }
        agm-map {
            margin-top: 120em;
            height: 60rem !important;
            width: 100%;
        }
        .sebm-google-map-container {
            height: 300px;
        }
    }