page-calendar {
    .ionDateHead {
        background-color: red !important;
    }
    .calendar {
        background: transparent !important;
    }
    .calendar .item-md {
        background: transparent !important;
    }
    .calendar ion-label {
        font-size: 20px;
        color: white !important;
        font-weight: lighter;
    }
    .calendar ion-select {
        font-size: 20px;
        color: white !important;
        font-weight: lighter;
    }
}