page-info-client {
    .client-info {
        // opacity: 0.7;
        background: transparent !important;
        // padding-top: 11em !important;
    }
    .client-info ion-label {
        font-size: 20px;
        color: white !important;
        font-weight: lighter;
    }
    .client-info .item-md {
        background: transparent !important;
    }
    .client-info ion-input {
        color: white;
        background: rgba(255, 255, 255, 0.24);
    }
    .client-info ion-textarea {
        color: white;
        background: rgba(255, 255, 255, 0.24);
    }
    .input-custom {
        // border-block-end: solid 0.5px black;
        // border-block-end-color: red !important;
    }
    /////*//////////////////////
    .list-md .item-input:last-child {
        border-bottom: none !important;
    }
}